In [1]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
x = titanic.drop(['Name','Ticket','PassengerId','Cabin','Embarked','Survived'],axis = 1)

In [22]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
x ['Sex'] = lb.fit_transform( x ['Sex'])

In [23]:
x

     Pclass  Sex   Age  SibSp  Parch     Fare
0         3    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         3    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         3    1  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    1  27.0      0      0  13.0000
887       1    0  19.0      0      0  30.0000
888       3    0   NaN      1      2  23.4500
889       1    1  26.0      0      0  30.0000
890       3    1  32.0      0      0   7.7500

[891 rows x 6 columns]

In [9]:
y = titanic['Survived']

In [26]:
x['Age'].fillna(x['Age'].mean(), inplace=True)

In [27]:
x.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [57]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 22)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=22)

In [58]:
y_pred = knn.predict(x_test)

In [59]:
knn.score(x_test, y_test)

0.7374301675977654

In [60]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.7374301675977654

In [61]:
for k in range(1, 31):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f'k = {k}, Accuracy: {accuracy * 100:.2f}%')

k = 1, Accuracy: 67.04%
k = 2, Accuracy: 67.04%
k = 3, Accuracy: 69.27%
k = 4, Accuracy: 72.07%
k = 5, Accuracy: 69.83%
k = 6, Accuracy: 72.07%
k = 7, Accuracy: 70.95%
k = 8, Accuracy: 68.16%
k = 9, Accuracy: 69.27%
k = 10, Accuracy: 68.72%
k = 11, Accuracy: 72.07%
k = 12, Accuracy: 70.39%
k = 13, Accuracy: 72.07%
k = 14, Accuracy: 70.39%
k = 15, Accuracy: 72.07%
k = 16, Accuracy: 72.07%
k = 17, Accuracy: 71.51%
k = 18, Accuracy: 71.51%
k = 19, Accuracy: 72.07%
k = 20, Accuracy: 73.18%
k = 21, Accuracy: 73.18%
k = 22, Accuracy: 73.74%
k = 23, Accuracy: 73.74%
k = 24, Accuracy: 71.51%
k = 25, Accuracy: 72.07%
k = 26, Accuracy: 71.51%
k = 27, Accuracy: 73.18%
k = 28, Accuracy: 72.63%
k = 29, Accuracy: 72.07%
k = 30, Accuracy: 71.51%

In [56]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
cm

array([[95, 10],
       [37, 37]], dtype=int64)